.soundfx-tabs{
    margin-top: 50px;
}

.soundfx-tabs column-1{
    margin-left: 5%;
}

.soundfx-tabs column-2{
    margin-left: 35%;
}

.soundfx-tabs column-3{
    margin-left: 70%;
}
